:root {
    --primary-color:  #212529;
    --secondary-color:  #dee2e6;
    --tertiary-color:  #6c757d;
}

.flex-row {
    display: flex;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* header */
header {
    background-color: var(--primary-color);
    position: sticky;
    position: -webkit-sticky;
    height: 80px;
}

header h1 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 36px;
    flex: 0 0 250px;
    text-align: right;
    height: 40px;
    padding: 10px;
    margin: 0;
}

header nav {
    flex: 4;
    margin: 15px;
}

header nav ul {
    list-style: none;
    justify-content: space-around;
    padding: 0 30px 0 30px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header nav ul li {
    border-bottom: solid;
    border-color: var(--secondary-color);
    border-width: 3px;
    margin: 5px;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 5px 5px;
    margin: 10px;
    font-size: 1.8vw;
    text-decoration: none;
}

/* hero image */

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: 80%;
    height: 180px;
    position: relative;
}

.caption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 5px;
    padding: 5px;
    width: fit-content;
    z-index: 2;
    font-size: 20px;
}

/* 2 column styling for main sections */
section h2 {
    flex: 1;
    text-align: right;
    padding: 0 5px;
    font-size: 36px;
    border-right: solid;
    border-color:var(--tertiary-color);
    border-width: 3px;
}

section div {
    flex: 5;
    margin: 10px 10px;
}

/* card styling for work examples */
.card {
    position: relative;
    width: 90%;
    border: solid;
    border-color:var(--secondary-color);
    border-width: 3px;
}
.card article {
    background-color:var(--secondary-color);
    color:var(--primary-color);
    position: absolute;
    bottom: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.card h3 {
    font-size: 24px;
    text-align: center;
}

.card p {
    font-size: 14px;
}

/* contact me styling */
section div ul {
    list-style: none;
    justify-content: space-around;
    padding: 0 30px 0 30px;
    align-items: center;
    flex-wrap: wrap;
}

section div ul li {
    border-bottom: solid;
    border-color: var(--tertiary-color);
    border-width: 3px;
    margin: 5px;
}

section div ul li a {
    color: var(--tertiary-color);
    padding: 5px 5px;
    margin: 10px;
    font-size: 1.8vw;
    text-decoration: none;
}